.container-products--card {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
}

.card-product {
    cursor: pointer;
    transition: 0.3s ease-in;
}

.card-product:hover {
    opacity: 90%;
    transform: scale(1.02);
}

@media (max-width: 528px) {
    .container-products--card {
        grid-template-columns: 1fr;
    }
}
