:root {
    --colour-bg-header: #5cbcb0;
    --colour-bg-body--one: #e0e0e0;
    --colour-bg-body--two: #f2f2f2;
    --colour-bg-search: #1977ad;
    --colour-bg-footer: #189284;
    --colour-border-card: #868a88;
    --colour-border-card--hover: #3f4140;
    --colour-bg-btn--search: #80cbf7;
    --colour-border-btn--search: #00395a;
}

body {
    background-color: var(--colour-bg-body--one);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

footer {
    background-color: var(--colour-bg-footer);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* position: fixed;
    bottom: 0; */
}
